<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>New Task</title>
</head>
<body>
    <form  action="/rezultat" method="post">
        <input name="input1" placeholder="Name of Task"></br>
        <textarea  maxlength="150" name="input2" placeholder="Task"></textarea></br>
        <input name="input3" placeholder="Due date" type="d"></br>
        <button type="submit">Save</button>

    </form>

    <a href="/">hello</a>
    <a href="/seznam">seznam</a>
</body>
</html>